/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*=========================
  BACKDROP
=========================*/

.upload-dialog-backdrop{

    background:rgba(0,0,0,.78);

    backdrop-filter:blur(10px);

    -webkit-backdrop-filter:blur(10px);

}

/*=========================
  DIALOG
=========================*/

.upload-dialog-panel{

    border-radius:24px !important;

    overflow:hidden;

    background:#0b0b0b;

    border:1px solid #222;

    box-shadow:
        0 40px 120px rgba(0,0,0,.65);

}

.upload-dialog-panel .mat-mdc-dialog-container{

    padding:0;

}

.upload-dialog-panel .mdc-dialog__surface{

    background:#0b0b0b !important;

    border-radius:24px !important;

    overflow:hidden;

}